<div class="conteneur-formulaire">
  
  <div class="en-tete-formulaire">
    <h2>{{ isEditMode ? 'Modifier l’agence' : 'Ajouter une nouvelle agence' }}</h2>
    <p>{{ isEditMode ? 'Mettez à jour les informations de cette agence.' : 'Renseignez les informations pour créer un nouveau compte partenaire.' }}</p>
  </div>

  @if (errorMessage) {
    <div class="message-erreur">{{ errorMessage }}</div>
  }

  <form [formGroup]="agenceForm" (ngSubmit)="soumettreFormulaire()" class="formulaire-simple">
    
    <!-- Champ Nom -->
    <div class="groupe-champ">
      <label for="nom">Nom de l'agence</label>
      <input type="text" id="nom" formControlName="nom" placeholder="Ex: Transcam Voyages">
      @if (f['nom'].touched && f['nom'].invalid) {
        <span class="message-erreur">Le nom de l'agence est requis (minimum 3 caractères).</span>
      }
    </div>

    <!-- Champ Email -->
    <div class="groupe-champ">
      <label for="email">Email professionnel</label>
      <input type="email" id="email" formControlName="email" placeholder="Ex: contact@transcam.cm">
      @if (f['email'].touched && f['email'].invalid) {
        <span class="message-erreur">Veuillez entrer une adresse email valide.</span>
      }
    </div>

    <!-- Champ Téléphone -->
    <div class="groupe-champ">
      <label for="telephone">Téléphone</label>
      <input type="text" id="telephone" formControlName="telephone" placeholder="Ex: 691234567">
      @if (f['telephone'].touched && f['telephone'].invalid) {
        <span class="message-erreur">Le numéro de téléphone est obligatoire.</span>
      }
    </div>

    <!-- Champ Adresse -->
    <div class="groupe-champ">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" formControlName="adresse" placeholder="Ex: Akwa, Douala">
      @if (f['adresse'].touched && f['adresse'].invalid) {
        <span class="message-erreur">L'adresse de l'agence est obligatoire.</span>
      }
    </div>

    <!-- Boutons d'action -->
    <div class="actions-formulaire">
      <!-- Le routerLink="/agences" permet de retourner à la liste si on annule -->
      <button type="button" class="btn-annuler" routerLink="/agences">Annuler</button>
      <button type="submit" class="btn-valider" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Enregistrement...' : (isEditMode ? 'Modifier l’agence' : 'Enregistrer l’agence') }}
      </button>
    </div>

  </form>
</div>